@model PaginatedList<Order>

<nav class="d-flex justify-content-center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Library</a>
        </li>
        <li class="breadcrumb-item active">Centered Position</li>
    </ol>
</nav>


<div class="card">
    <div class="card-body">
        <div class="row py-3">

            <div class="col-6">

                <h5 class="card-title">Order List</h5>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tblData" class="table table-hover" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th class="w-10">Receiver</th>
                    <th class="w-10">Email</th>
                    <th class="w-10">Phone Number</th>
                    <th class="w-10">Address</th>
                    <th class="w-10">Date</th>
                    <th class="w-10">Amount Product</th>
                    <th class="w-10">Amount Product</th>
                    <th class="w-15">Edit | Delete</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>@item.LastName @item.FirstName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.ShipAddress</td>
                        <td>@item.CreateDate</td>
                        <td>@item.OrderDetails.Count()</td>
                        <td>@item.OrderDetails.Sum(x => x.TotalPrice).ToString("C")</td>
                        <td style="width:15%;">
                            <div style="display:flex;justify-content:space-evenly">
                                <a asp-action="CreateAndUpdate" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button value="@item.Id" class="delete-button btn btn-danger btn-sm">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <p>Page @Model.PageIndex / @Model.TotalPages</p>
            <ul class="pagination" id="pagination"></ul>
        </div>
        <form hidden id="page-delete" method="post" asp-action="Delete">
            <input id="current-id" name="id"/>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_CustomPaging"/>
}